@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "light";
    default: true; /* set as default */
    prefersdark: false; /* set as default dark mode (prefers-color-scheme:dark) */
    color-scheme: light; /* color of browser-provided UI */

    --color-base-100: oklch(99% 0.005 240);
    --color-base-200: oklch(96% 0.01 235);
    --color-base-300: oklch(92% 0.02 235);
    --color-base-content: oklch(20% 0.02 250);
    --color-primary: oklch(58% 0.23 257);
    --color-primary-content: oklch(98% 0.01 250);
    --color-secondary: oklch(70% 0.18 215);
    --color-secondary-content: oklch(98% 0.01 215);
    --color-accent: oklch(68% 0.2 185);
    --color-accent-content: oklch(98% 0.01 185);
    --color-neutral: oklch(36% 0.03 255);
    --color-neutral-content: oklch(98% 0.01 255);
    --color-info: oklch(66% 0.18 235);
    --color-info-content: oklch(98% 0.01 235);
    --color-success: oklch(66% 0.18 150);
    --color-success-content: oklch(18% 0.02 150);
    --color-warning: oklch(78% 0.18 85);
    --color-warning-content: oklch(18% 0.02 85);
    --color-error: oklch(62% 0.22 28);
    --color-error-content: oklch(98% 0.01 28);
}
@plugin "daisyui/theme" {
    name: "dark";
    default: false;
    prefersdark: true;
    color-scheme: dark;

    --color-base-100: oklch(18% 0.01 250);
    --color-base-200: oklch(22% 0.015 250);
    --color-base-300: oklch(26% 0.02 250);
    --color-base-content: oklch(96% 0.01 250);
    --color-primary: oklch(70% 0.2 258);
    --color-primary-content: oklch(14% 0.03 258);
    --color-secondary: oklch(74% 0.16 215);
    --color-secondary-content: oklch(14% 0.03 215);
    --color-accent: oklch(72% 0.16 190);
    --color-accent-content: oklch(14% 0.03 190);
    --color-neutral: oklch(28% 0.02 250);
    --color-neutral-content: oklch(96% 0.01 250);
    --color-info: oklch(70% 0.14 235);
    --color-info-content: oklch(14% 0.03 235);
    --color-success: oklch(70% 0.16 150);
    --color-success-content: oklch(14% 0.03 150);
    --color-warning: oklch(78% 0.16 85);
    --color-warning-content: oklch(14% 0.03 85);
    --color-error: oklch(64% 0.2 28);
    --color-error-content: oklch(14% 0.03 28);
}

.font-roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}

.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
